.hidden {
    display: none;
}

#sobre {
    color: var(--cor-texto-principal);
    padding: 2.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
    max-width: 50rem;
    margin-top: 30rem;
    text-align: justify;
}

#sobreTexto {
    font-style: italic;
}

.imagem {
    display: flex;
    justify-content: center;
}

.imagem img {
    max-width: 18.75rem;
    width: 100%;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

section {
    background-color: var(--cor-secundario-texto);
    padding: 1rem;
    border-radius: 0.3125rem;
    margin-top: 1rem;
    width: 100%;
}

#user-form {
    width: 26rem;
    height: 43rem;
}

form label {
    color: var(--cor-fundo-header);
}

form label, form input {
    display: block;
    margin-bottom: 0.5rem;
    width: 90%;
    font-weight: bold;
}

form input {
    padding: 0.75rem;
    border: 0.0625rem solid var(--cor-secundaria-fundo);
    border-radius: 0.1875rem;
    background-color: var(--cor-secundario-fundo);
}

button {
    padding: 0.75rem;
    background-color: var(--cor-fundo-header);
    border: none;
    color: var(--cor-secundario-texto);
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0.1875rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-header);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--cor-fundo-header);
}

th, td {
    color: var(--cor-coringa);
    padding: 0.75rem;
    text-align: left;
    border-bottom: 0.250rem solid var(--cor-secundario-fundo);
}

.acao {
    text-align: center;
}

.acao button i {
    font-size: 1.25rem;
    color: var(--cor-header);
}

.btn-editar {
    background-color: var(--cor-editar);
    color: var(--cor-secundario-texto);
    font-weight: bolder;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-excluir {
    background-color: var(--cor-excluir);
    color: var(--cor-texto-principal);
    font-weight: bolder;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-editar:hover,
.btn-excluir:hover {
    opacity: 0.8;
}

.dropdown {
    position: relative;
    width: 100%;
}

#papel, #assunto {
    padding: 0.625rem;
    width: 90%;
    border: 0.0625rem solid var(--cor-secundaria-fundo);
    border-radius: 0.25rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-secundaria-fundo);
    min-width: 100%;
    max-height: 9.375rem;
    overflow-y: auto;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: 0.0625rem solid var(--cor-secundario-fundo);
    border-radius: 0.1875rem;
    z-index: 1;
}

.dropdown-content div {
    padding: 0.625rem;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: var(--cor-secundario-fundo);
}

ul.descricao {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--cor-fundo-header); 
    font-weight: bold;
    width: 100%;
}

ul.descricao li {
    margin: 0.5rem 1rem; 
    line-height: 1.6; 
    background-color: var(--cor-secundario-fundo); 
    padding: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

ul.descricao li:hover {
    transform: translateY(-3px); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-excluir); 
}

